@import '../../styles/constants';

.containersBlock {
  padding: 80px 0;
  background: white;
  display: flex;
  flex-direction: column;

  .containers {
    display: flex;
    flex-wrap: wrap;
  }

  .shawAllButton {
    margin: 0 auto;
  }

  .title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
  }
}
