@import "constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: $blue-background;
  font-family: $font-family;
  color: $text-color-gray;
  font-size: $font-size-15;
  font-weight: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.react-multi-carousel-dot--active {
  button {
    background: #0383ff!important;
  }
}
