@import '../../styles/constants';

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 150px;

  position: fixed;
  left: 0;
  right: 0;

  //background: white;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.7);

  z-index: 10;

  -webkit-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.23);
  -moz-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.23);
  box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.23);

  img {
    height: 30px;
  }

  .navbar {
    Button {
      font-weight: $font-weight-bold;
      color: $text-color-comment;
    }

    .phoneButton {
      font-weight: $font-weight-bold;
      margin-left: 16px;
    }
  }
}
